<h1>Hello Angular!</h1>
<h2>Small basic examples</h2>

<details>
  <summary>Components example</summary>
  <app-post></app-post>
  <app-post2></app-post2>
</details>

<details>
  <summary>Titles from component</summary>
  <p>
    {{ title }}
  </p>
  <p>
    <i>{{ number - 11 }}</i>
  </p>
  <p>{{ array }}</p>
</details>

<details>
  <summary>Image example with timeout</summary>
  <img [src]="img" alt="" width="50px" />
</details>

<details>
  <summary>Input example</summary>
  <input
    type="text"
    (keyup.enter)="onInput($event)"
    (blur)="onBlur(myInput.value)"
    #myInput
  />
  <p>
    <strong>{{ inputValue }}</strong>
  </p>
</details>

<details>
  <summary>Another input example with 2 way binding</summary>
  <input type="text" [(ngModel)]="newTitle" />

  <p>{{ newTitle }}</p>
</details>

<details>
  <summary>Button click event</summary>
  <button (click)="onClick()">Click me!</button>
</details>

<details>
  <summary>ngStyle example</summary>
  <button (click)="styleToggle = !styleToggle">Toogle</button>

  <div
    [ngStyle]="{
      width: '200px',
      height: '200px',
      borderRadius: '5px',
      border: '1px solid black',
      background: styleToggle ? 'red' : 'blue'
    }"
  ></div>
</details>

<details>
  <summary>Class example</summary>
  <button (click)="backgroundToggle = !backgroundToggle">Toogle</button>

  <p [ngClass]="{ red: backgroundToggle, blue: !backgroundToggle }">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, culpa.
  </p>

  <p [class.blue]="backgroundToggle" [class.red]="!backgroundToggle">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo odio culpa
    illum voluptate voluptas cumque vel eum officia inventore alias.
  </p>
</details>

<details>
  <summary>IF else example</summary>
  <button (click)="toggle = !toggle">Toogle paragraph</button>

  <p *ngIf="toggle; else blueParagraph" class="red">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, iure!
  </p>
  <ng-template #blueParagraph>
    <p class="blue">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, iure!
    </p>
  </ng-template>
</details>

<details>
  <summary>Switch example</summary>
  <button (click)="switchToggle = !switchToggle">Toogle switch</button>

  <div [ngSwitch]="switchToggle">
    <p *ngSwitchCase="true" class="red">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
      perferendis?
    </p>
    <p *ngSwitchCase="false" class="blue">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, ducimus!
    </p>
    <p *ngSwitchDefault>default</p>
  </div>
</details>

<details>
  <summary>Fib array example</summary>
  <ul>
    <li *ngFor="let number of fibArray; let idx = index">
      <strong>{{ idx }}</strong>
      {{ number }}
    </li>
  </ul>
</details>

<details>
  <summary>Pipe example</summary>
  <h3>It is something like filter in VUE</h3>
  <p>{{ now | date }}</p>
</details>
